.hotel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 20px;

    .hotel-wrapper {
        width: 100%;
        max-width: 85%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;

        .book-now-btn {
            position: absolute;
            top: 10px;
            right: 0;
            background-color: #0071c2;
            color: #fff;
            border: none;
            outline: 0;
            padding: 15px 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .hotel-title {
            font-size: 24px;
        }

        .hotel-address {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 12px;
        }

        .hotel-distance {
            color: blueviolet;
            font-weight: 500;
        }

        .hotel-price-highlight {
            color: #008009;
            font-weight: 500;
        }

        .hotel-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            .hotel-image-wrapper {
                width: 33%;
    
                .hotel-image {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .hotel-details {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-block-start: 20px;

            .hotel-details--text {
                flex: 3;
            }

            .hotel-details--description {
                font-size: 14px;
                margin-block-start: 20px;
            }

            .hotel-details--price {
                flex: 1;
                background-color: #dae7fc;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h3 {
                    font-size: 16px;
                    color: #555;
                }

                span {
                    font-size: 14px;
                }

                h4 {
                    font-weight: 500;
                    color: #003580;
                }

                button {
                    border: none;
                    outline: 0;
                    background-color: #0071c2;
                    color: #fff;
                    font-weight: bold;
                    cursor: pointer;
                    border-radius: 5px;
                    padding: 15px 10px;
                }
            }
        }

        
    }
}

.slider {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 999;

    .slider-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .slider-image {
            width: 75%;
            height: 80vh;
        }
    }

    .slider-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: lightgray;
        cursor: pointer;
    }

    .slider-arrow-btn {
        margin: 20px;
        font-size: 50px;
        color: lightgray;
        cursor: pointer;
    }
}